html {
    scroll-behavior: smooth;
    background-color: seashell;
    font-family: 'Open Sans', sans-serif;
}

span {
    font-weight: 550;
    border : 0;
    padding : 1px 8px;
    line-height: 2.5;
    color : white;
    border-radius: 8px;
}

span.program {
    background-color: #3b61df;
}

span.skill {
    background-color: #e4a700;
}

span.tools {
    background-color: #5a5a5a;
}

p.used {
    color : rgb(41, 41, 41);
    font-weight: 600;
    text-decoration-line: underline;
}

section.project {
    position: relative;
    overflow: hidden;
    display: inline-block;
    max-width: 400px;
    min-width: 240px;
    height: 440px;
    margin : auto;
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 5px;
    border-color : #bebebe;
    background-color: #ffffff;
    margin: 2rem;
}

section.project:first-of-type {
    margin-top: 3rem;
}

section.project:last-of-type {
    margin-bottom: 3rem;
}
